site_name: jelambrar96X
site_description: Documentación del visualizador de los lanzamientos de SpaceX

theme:
  name: material
  palette:
    primary: indigo
    accent: indigo
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.tabs
    - navigation.top
    - search.highlight
    - search.suggest
    - toc.integrate
    - content.code.annotate
    - content.code.copy


nav:
  - Introducción: d00_introduccion.md
  - Datos: d01_datos.md
  - Solución: solcion_propuesta.md
  - Tecnologías: tecnologias_utilizadas.md
  - Instalación: instalacion.md
  - Referencias: referencias.md
  - Créditos: creditos.md


plugins:
  - search
  # - minify  # desactiva en desarrollo